/*====== 通用样式 包含在el-container内 ======*/


/*通用标题*/
.commonMode {
  padding: 30px;
}
/*通用颜色设置*/
.commonMode .error{
  color: #ff5c3c;
}
.commonMode .sonTitle {}

.commonMode .sonTitle .titleName {
  border-left: 4px solid #0096ff;
  padding-left: 10px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(135, 135, 135, 1);
  display: inline-block;
  margin-bottom: 33px;
}

/*通用按钮*/
.searchButton {}

/*通用表单初始化设置*/
/*调整搜索input框的宽度 使用方法 在elementUI的基础上 size="" 输入宽度尺寸*/
.commonMode .el-input .el-input__inner{
  text-align: center;
}
.el-input.el-input--120 {
  width: 160px;
}

.el-input.el-input--120 input {
  height: 36px;
  line-height: 36px;
}

.el-input.el-input--160 {
  width: 160px;
}

.el-range-editor--130 {
  width: 300px;
}

.el-select.el-select--160 {
  width: 160px;
}



/*通用表格设置*/
.commonMode .el-form-item{
  margin-bottom: 30px;
}
.headTableCell {
  background: '#0096FF';
  color: '#fff';
  height: '60px';
  font-size: '18px';
}



/*通用分页器设置*/

/*elementUI覆盖部分*/
/*右侧侧边栏 多重下拉框*/
.el-submenu__title{
  font-size: 18px;
}
.el-submenu__title:hover{

}

/*通用边距设置*/
.mb_30{
  margin-bottom: 30px;
}
.mb_25{
  margin-bottom: 25px;
}
.mb_20{
  margin-bottom: 20px;
}
.mt_30{
  margin-top: 30px;
}
.mr_30{
  margin-right: 30px;
}
.userManage .searchBox .el-form{
  display: flex;
}

body{
  overflow: inherit!important;
  padding-right: 0!important;
}

/*elementUi弹框问题*/

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.pagaButton {
  width: 70px;
  height: 32px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border: solid 1px #d5d5d5;
  border-radius: 5px;
  margin-left: 15px;
  text-align: center;
  line-height: 34px;
}
/*分页器插槽*/
.compo{
  padding: 0 3px;
}

/*动画样式*/
.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}

.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}