#addFormBI .infoGroup .el-input .el-input__inner{
    width: 100%;
  }
#addFormBI .el-form-item{

}
#addFormBI form.el-form{
    display: flex;
    flex-direction: column;
}
#addFormBI .el-form-item__label{
    text-align: left;
}
#addFormBI .el-textarea__inner{
    height: 170px;
    width: 532px;
}
.readerCard{

}
.readerCard form.el-form{
  flex-direction: column;

}
.readerCard .el-input .el-input__inner {
  width: 100%;
}
.readerCard .el-form-item__content {
  display: flex;
}
.readerCard .el-select {
  width: 100%;
}
.readerCard .el-form-item.select {
  width: 260px;
  margin-left: 0;
}
.readerCard .selectBan{
  display: flex;
}
.readerCard .selectBan .el-form-item__content{
  display: block;
}


.el-input--130{
  width: 130px;
}
.el-input--140{
  width: 140px!important;
}

#nprogress .bar {
  background: #009a61 !important;
  height: 4px!important;
}