/*样式覆盖文件夹*/
#addFormBI .infoGroup .el-input .el-input__inner{
    width: 100%;
  }
#addFormBI .el-form-item{

}
#addFormBI form.el-form{
    display: flex;
    flex-direction: column;
}
#addFormBI .el-form-item__label{
    text-align: left;
}
#addFormBI .el-textarea__inner{
    height: 170px;
    width: 532px;
}
/*读者卡模块elementUI样式覆盖*/
.readerCard{

}
.readerCard form.el-form{
  flex-direction: column;

}
.readerCard .el-input .el-input__inner {
  width: 100%;
}
.readerCard .el-form-item__content {
  display: flex;
}
.readerCard .el-select {
  width: 100%;
}
.readerCard .el-form-item.select {
  width: 260px;
  margin-left: 0;
}
.readerCard .selectBan{
  display: flex;
}
.readerCard .selectBan .el-form-item__content{
  display: block;
}


.el-input--130{
  width: 130px;
}
.el-input--140{
  width: 140px!important;
}

.el-input.el-input--120 {
  width: 160px;
}

.el-input.el-input--120 input {
  height: 36px;
  line-height: 36px;
}

.el-input.el-input--160 {
  width: 160px;
}

.el-range-editor--130 {
  width: 300px;
}

.el-select.el-select--160 {
  width: 160px;
}
/*进度条样式修改*/
#nprogress .bar {
  background: #009a61 !important;
  height: 4px!important;
}

/*elementUI样式覆盖*/
/*侧边栏*/
.el-submenu__title{
  font-size: 16px;
}
.userManage .searchBox .el-form{
  display: flex;
}
.damageCount .el-dialog__body{
  border-radius: 0 0 20px 20px;
}
.damageCount .dealDialog .el-input .el-input__inner{
  text-align: left;
}
.labelActive.el-tag .el-icon-close{
  color: #fff;
}
.el-menu{
  border: none!important;
}