#addFormBI .infoGroup .el-input .el-input__inner{
    width: 100%;
  }
#addFormBI .el-form-item{

}
#addFormBI form.el-form{
    display: flex;
    flex-direction: column;
}
#addFormBI .el-form-item__label{
    text-align: left;
}
#addFormBI .el-textarea__inner{
    height: 170px;
    width: 532px;
}

