/*======图书出版社表单input框宽度 ======*/
#addFormYf .el-input .el-input__inner{
  width: 286px;
}
#damageForm .el-input .el-input__inner{
  width: 464px;
}
#vacationForm .el-input .el-input__inner{
  width: 250px;
}
#vacationForm .el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 250px;
}
#libbookinfo .el-input .el-input__inner{
  width: 180px;
}
.flexLayout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav  .nav1 .el-menu-item[data-v-016087ad] {
  background: #343b4a !important;
  text-align: left;
  height: 55px;
  font-size: 18px;
  margin-bottom: 25px;
}
#Book_collection .el-input #isbnInput{
  width: 860px;
  border: 1px solid #DCDFE6
}
#Book_collection .el-form-item{
  margin-bottom: 20px;
}
#Book_collection #haveBottomBorder{
  border: 1px solid #DCDCDC;
  width: 880px;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 10px;
}

#Book_collection #haveBottomBorder .el-input .el-input__inner{

  border-radius: 5px;
  height:20px;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid #DCDCDC;
}
#Book_collection #haveBottomBorder .el-form-item{
  margin-bottom: 0px;
}
#Book_collection #haveBottomBorder .el-form-item__error{
  display: none;
}
#Book_collection #haveBottomBorder #inputDiv1 .el-input .el-input__inner{
  width: 730px;
}
#Book_collection #haveBottomBorder #inputDiv2 .el-input .el-input__inner{
  width: 350px;
}
#Book_collection #haveBottomBorder #inputDiv3 .el-input .el-input__inner{
  width: 200px;
}
#Book_collection #haveBottomBorder #inputDiv4 .el-input .el-input__inner{
  width: 350px;
}
#Book_collection #haveBottomBorder #inputDiv5 .el-input .el-input__inner{
  width: 190px;
}
#Book_collection #haveBottomBorder #inputDiv6 .el-input .el-input__inner{
  width: 190px;
}
#Book_collection #haveBottomBorder .el-checkbox{
  margin-top: 10px;
  height: 30px;
}
#Book_collection #haveBottomBorder #oneHalf .el-input .el-input__inner{
  width: 200px;
}
#formDiv{
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  width: 900px;
  padding: 10px 20px;
  margin-top: 20px;
}
#formDiv .el-input .el-input__inner{
  border: 1px solid #DCDCDC;
}
#harm #harm_noneTopBorder .el-form-item{
  margin-bottom: 10px;
}
#harm #harm_noneTopBorder .el-form-item__error{
  margin-top: 0px;
}
#harm #harm_noneTopBorder .el-input .el-input__inner{
  border: none;
  border-bottom: 1px solid #DCDCDC;
  height: 20px;
  line-height: 20px;
}
#harm #harm_noneTopBorder .el-form-item__content {
  height: 30px;
}
#harm #harm_noneTopBorder .harmInput1 .el-input .el-input__inner{
  width: 500px;
}
#harm #selectInput .el-input .el-input__inner{
  width: 300px;
}
#harm  #remarks .el-textarea__inner {
  height: 150px;
  width: 350px;
}
.errTitle .el-form-item__error {
  margin-left: 95px;
}
#book_cataloging #noError .el-form-item{
  margin-bottom: 10px;
}
#book_cataloging #noError .el-form-item__error{
  display: none;
}
#book_cataloging #catalogingInput1 .el-input .el-input__inner {
  width:371px;
}
#book_cataloging #catalogingInput2 .el-input .el-input__inner {
  width:370px;
}
#book_cataloging #catalogingInput5 .el-input .el-input__inner {
  width:210px;
}
#book_cataloging #catalogingInput6 .el-input .el-input__inner {
  width:210px;
}
#book_cataloging #catalogingInput3 .smaillInput .el-input .el-input__inner {
  width:180px;
}
#book_cataloging #catalogingInput3 .mediumInput .el-input .el-input__inner {
  width:200px;
}
#book_cataloging #catalogingInput4 .el-date-editor.el-input, .el-date-editor.el-input__inner{
  width:200px;
}
#book_cataloging #catalogingInput4 .el-input .el-input__inner {
  width:200px;
}
#book_cataloging #catalogingInput4 .smaillInput .el-input .el-input__inner {
  width:180px;
}
#book_cataloging #catalogingInput3 .bigInput .el-input .el-input__inner {
  width:515px;
}
#purchasingMessage .el-input .el-input__inner {
  width: 340px;
}

