/*======图书出版社表单input框宽度 ======*/
#addFormYf .el-input .el-input__inner{
  width: 286px;
}
#damageForm .el-input .el-input__inner{
  width: 464px;
}
#vacationForm .el-input .el-input__inner{
  width: 250px;
}
#vacationForm .el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 250px;
}
#libbookinfo .el-input .el-input__inner{
  width: 180px;
}
.flexLayout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav  .nav1 .el-menu-item[data-v-016087ad] {
  background: #343b4a !important;
  text-align: left;
  height: 55px;
  font-size: 18px;
  margin-bottom: 25px;
}
#collectionAdd{

}
#collectionAdd .el-input #isbnInput{
  width: 860px;
  border: 1px solid #DCDFE6
}
#collectionAdd .el-form-item{
  margin-bottom: 20px;
}
#decideForm{
  width: 880px;
  border: 1px solid #DCDFE6;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px 0px;
}
#collectionEdit .el-form-item{
  margin-bottom: 20px;
}
#collectionAdd #haveBottomBorderAdd{
  border: 1px solid #DCDCDC;
  width:750px;
  padding: 10px 30px;
  margin: 0px auto;
}
#collectionAdd .countInput .el-input .el-input__inner {
  width: 70px;
  height: 25px;
  line-height: 25px;
  background-color: #dcdfe64d;
}
#collectionAdd .countInput .el-input-number {
  position: relative;
  display: inline-block;
  width: 70px;
  line-height: 38px;
}
#collectionAdd .countInput .el-input-number.is-controls-right .el-input__inner {
  padding-left: 12px;
  padding-right: 39px;
}
#collectionAdd .countInput .el-input-number.is-controls-right .el-input-number__decrease, .el-input-number.is-controls-right .el-input-number__increase {
  height: 10px;
  line-height: 10px;
  width: 25px;
}
#collectionAdd .countInput .el-input-number.is-controls-right .el-input-number__decrease, .el-input-number.is-controls-right .el-input-number__decrease {
  height: 10px;
  line-height: 10px;
  width: 25px;
}
#collectionAdd .countInput .el-input-number.is-controls-right .el-input-number__decrease {
  right: 1px;
  bottom: 8px;
  top: auto;
  left: auto;
  border-right: none;
  border-left: 1px solid #DCDFE6;
  border-radius: 0 0 4px;
}
#collectionAdd .countInput .el-checkbox {
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 0px;
}
#collectionAdd #formDiv .el-button {
  height: 46px;
  width: 10px;
}
#collectionAdd #formDiv .el-input-group__append .el-button, .el-input-group__append .el-select, .el-input-group__prepend .el-button, .el-input-group__prepend .el-select {
  display: inline-block;
  margin: -12px -29px;
}
#collectionAdd #haveBottomBorderAdd .el-input .el-input__inner{
  border-radius: 5px;
  height:20px;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid #DCDCDC;
}
#collectionAdd #haveBottomBorderAdd .oneInput .el-input .el-input__inner{
  width: 590px;
}
#collectionAdd #haveBottomBorderAdd .twoInput .el-input .el-input__inner{
  width:270px;
}
#collectionAdd #haveBottomBorderAdd .oneInputBig .el-input .el-input__inner{
  width:660px;
}
#collectionAdd #haveBottomBorderAdd .threeInput .el-input .el-input__inner{
  width:150px;
}
#collectionAdd #formDiv .threeInput .el-input .el-input__inner{
  width:150px;
}
#collectionAdd #haveBottomBorderAdd .el-form-item__content{
  line-height: 30px
}
#collectionAdd #haveBottomBorderAdd .el-form-item__label{
  line-height: 30px
}
#collectionAdd #haveBottomBorderAdd .el-form-item{
  margin-bottom: 0px;
}
#collectionEdit #haveBottomBorderEdit .el-form-item{
  margin-bottom: 0px;
}
#collectionAdd #haveBottomBorderAdd .el-form-item__error{
  display: none;
}
#collectionAdd .buttonDiv{
  margin: 20px auto 10px;
}
#collectionAdd .buttonDiv .el-form-item{
  margin-bottom: 0px;
  margin-top: 10px;
}
#collectionAdd .buttonDiv .el-input .el-input__inner {
  height: 25px;
  line-height: 25px;
  width: 100px;
}
#collectionAdd #haveBottomBorderAdd .el-checkbox{
  height: 30px;
}

#collectionMessage #collectionAdd #dataDiv .el-table td, .el-table th {
  padding: 0px
}

#collectionMessage  .el-dialog__body{
  padding: 0px!important
}
#collectionMessage .buttonStyle .el-button{
  height: 35px;
  font-size: 15px;
  padding: 10px 20px;
}
#catalogMessage .el-dialog__body{
  padding: 0px!important
}
#formDiv{
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  width: 840px;
  padding: 10px 20px;
  margin-top: 20px;
}
#dataDiv{
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  width: 840px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#formDiv .el-input .el-input__inner{
  border: 1px solid #DCDCDC;
}
#harm #harm_noneTopBorder .el-form-item{
  margin-bottom: -5px;
}
#harm #harm_noneTopBorder .el-form-item__error{
  margin-top: 0px;
  display: none;
}
#cardErr .el-form-item__error{
  display: none;
}
#harm #harm_noneTopBorder .el-input .el-input__inner{
  border: none;
  border-bottom: 1px solid #DCDCDC;
  height: 20px;
  line-height: 20px;
}
#harm #harm_noneTopBorder .el-form-item__content {
  height: 30px;
}
#harm #harm_noneTopBorder .harmInput1 .el-input .el-input__inner{
  width: 500px;
}
#harm #selectInput .el-input .el-input__inner{
  width: 300px;
}
#harm  #remarks .el-textarea__inner {
  height: 150px;
  width: 350px;
}
.errTitle .el-form-item__error {
  margin-left: 95px;
}
#catalogingEdit .el-form-item{
  margin-bottom: 10px;
}
#catalogingEdit .el-form-item__error{
  display: none;
}
#catalogingAdd #noError .el-form-item__error{
  display: none;
}
#catalogingAdd #noError .el-form-item {
  margin-bottom: 5px;
}
#catalogingAdd .buttonInput .el-input-group__append button.el-button, .el-input-group__append div.el-select .el-input__inner, .el-input-group__append div.el-select:hover .el-input__inner, .el-input-group__prepend button.el-button, .el-input-group__prepend div.el-select .el-input__inner, .el-input-group__prepend div.el-select:hover .el-input__inner {
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  border-top: 0;
 /* width: 10px;*/
  border-bottom: 0;
}
#catalogingAdd .el-input .el-input__inner {
  height: 30px;
  line-height: 30px;
}
#catalogingAdd .buttonInput .el-input-group__append .el-button, .el-input-group__append .el-select, .el-input-group__prepend .el-button, .el-input-group__prepend .el-select {
  display: inline-block;
  margin: -10px -28px;
}
#catalogingAdd .oneInput .el-input .el-input__inner {
  width:450px;
}
#catalogingAdd .twoInput .el-input .el-input__inner {
  width:300px;
}
#catalogingEdit .twoInput .el-input .el-input__inner {
  width:300px;
}
#catalogingAdd .buttonInput .el-input .el-input__inner {
  width:150px;
}
#catalogingAdd .threeInput .el-input .el-input__inner {
  width:175px;
}
#catalogingEdit .threeInput .el-input .el-input__inner {
  width:175px;
}
#catalogingAdd .oneBigInput .el-input .el-input__inner {
  width:190px;
}
#catalogingAdd .selectInput .el-select {
  display: inline-block;
  position: relative;
  width: 190px;
}
#catalogingAdd .isbnInput .el-input .el-input__inner {
  width:300px;
}
#purchasingMessage .el-input .el-input__inner {
  width: 340px;
}
.bookInfo .el-table th{
  background-color: rgb(0, 150, 255);
}
#bookInfo .el-table--scrollable-y .el-table__body-wrapper{
  border: 1px solid rgba(245,247,250,1);
}
#catalogingMessage .el-dialog__body{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.el-table .cell{
  font-size: 14px;
}
.el-dialog__title {
  line-height: 24px;
  font-size: 24px;
  color: #FFFFFF;
}
.commonMode .searchBox  .el-input .el-input__inner {
  text-align: left;
}
.addEditDialog #collectionAdd #collectionAddIsbn .el-button {
  margin-right: 0px;
  width: 40px;
}
.addEditDialog #collectionAdd #collectionAddIsbn .el-input .el-input__inner{
  width: 300px;
}
.addEditDialog #collectionAdd #decideForm #collectionAddIsbn .el-input-group__append .el-button, .el-input-group__append .el-select, .el-input-group__prepend .el-button, .el-input-group__prepend .el-select {
  display: inline-block;
  margin: -13px -8px;
}
.addEditDialog #collectionAdd #decideForm #collectionAddIsbn .el-button{
  padding:0px
}
#catalogMessage .el-dialog__body{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#catalogMessage #editCatalogButton .el-button{
  width: 150px;
}
#catalogMessage #addCatalogButton .el-button{
  width: 150px;
}
#searchInput .el-select .el-input__inner{
  width: 150px;
}
#searchInput .el-select .el-input--suffix{
  width: 150px;
}
.collectionDelete .el-dialog--center .el-dialog__body{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#powerZtree .ztree li{
  margin-top: 0px;
}
#powerZtree{
  overflow: auto;
  margin-top: 15px;
}
.powerElement .ztree li span.button.ico_docu {
  margin-right: 2px;
  background-position: 0px -72px;
  vertical-align: top;
  *vertical-align: middle;
}
.powerElement .ztree li span.button.chk.checkbox_true_part {
  background-position: 2px -28px;
  display: none;
}
.powerElement .ztree li span.button.noline_docu {
  background: none;
}
.powerElement .ztree li span.button.chk.checkbox_false_full {
  background-position: 0 0;
  display: none;
}
.powerElement .ztree li span.button.chk.checkbox_true_full {
  background-position: -14px 0;
  display: none;
}
.powerElement .ztree li span.button.ico_open {
  margin-right: 2px;
  background-position: -21px -90px;
  vertical-align: top;
  *vertical-align: middle;
}
.powerElement .ztree li span.button.ico_close {
  margin-right: 2px;
  background-position: -21px -90px;
  vertical-align: top;
  *vertical-align: middle;
}
.powerElement .ztree li span.button.root_open{background-position:-92px -54px}
.ztree li span.button {line-height:0; margin:0; width:16px; height:16px; display: inline-block; vertical-align:middle;
  border:0 none; cursor: pointer;outline:none;
  background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
  background-image:url("../../zTree_v3/css/zTreeStyle/img/zTreeStandarda.png"); *background-image:url("../../zTree_v3/css/zTreeStyle/img/zTreeStandarda.gif")}
.typeZtree .ztree li span.button.ico_close {
  margin-right: 2px;
  background-position: -1px -90px;
  vertical-align: top;
  vertical-align: middle;
}
.typeZtree .ztree li span.button.ico_open {
  margin-right: 2px;
  background-position: -1px -90px;
  vertical-align: top;
  *vertical-align: middle;
}
.typeZtree .ztree li span.button.ico_docu {
  margin-right: 2px;
  background-position: -44px -90px;
  vertical-align: top;
  *vertical-align: middle;
}
.bookAdress .ztree li span.button.ico_close {
  margin-right: 2px;
  background-position: -28px -74px;
  vertical-align: top;
  vertical-align: middle;
}
.bookAdress .ztree li span.button.ico_open {
  margin-right: 2px;
  background-position: -28px -74px;
  vertical-align: top;
  *vertical-align: middle;
}
.bookAdress .ztree li span.button.ico_docu {
  margin-right: 2px;
  background-position: -1px -103px;
  vertical-align: top;
  *vertical-align: middle;
}
.Separator{
  width: 840px;
  border-bottom: 1px solid #DCDFE6;
  margin: 0px auto 10px;
}
#catalogMessage .el-dialog__body {
  /*padding: 30px 20px;*/
  color: #606266;
  font-size: 14px;
  padding: 0px;
}
#collectionMessage .el-dialog__body {
  /*padding: 30px 20px;*/
  color: #606266;
  font-size: 14px;
  padding: 0px!important
}
#catalogMessage .messageAdd_Edit{
  width: 840px;
  border: 1px solid #DCDFE6;
  border-radius: 10px;
  margin: 10px auto;
  padding:10px 20px;
}
#catalogMessage .buttonStyle .el-button--primary {
  background: rgba(0,150,255,1);
  border-radius: 10px;
  font-size: 16px;
}
#catalogMessage .buttonStyle .el-button{
  border-radius: 10px;
}
#catalogMessage .buttonStyle .el-button--info {
  border-radius: 10px;
  font-size: 16px;
}
#catalogMessage .el-textarea__inner{
  height: 80px;
}
#collectionMessage .callNumberMessage{
  position: absolute;
  top: 150px;
  z-index: 30000;
  background: white;
  width: 600px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#80808075,direction=120,strength=4);
  -moz-box-shadow: 2px 2px 10px #80808075;
  -webkit-box-shadow: 2px 2px 10px #80808075;
  box-shadow:2px 2px 20px #80808075;
}
#collectionMessage .callNumberMessage .callNumberMessage_first{
  width: 570px;
  padding:7px 15px;
  color: #827c7cab
}
#collectionMessage .callNumberMessage .callNumberMessage_scound{
  padding: 15px 20px;
  width: 560px;
  background: #e0f2ff;
  color: #878787;
}
#collectionMessage .callNumberMessage .callNumberMessage_scound .el-form-item{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
#collectionMessage .callNumberMessage .callNumberMessage_scound .el-input .el-input__inner{
  height: 30px;
  line-height: 30px;
  width: 300px;
}
.el-button--info {
  color: #FFF;
  background-color: #aaadb396;
  border-color:  #aaadb396;
}
.dialogButton{
  height: 35px;
  line-height: 35px;
  width: 110px;
  border-radius:10px;
  display: inline-block;
  cursor: pointer;
  font-size:15px;
  color:#fff;
  border: none;
  box-sizing: border-box;
  text-align: center;
}
#collectionMessage .libraryAddressMessage{
  position: absolute;
  top: 150px;
  z-index: 30000;
  width:800px;
  background: white;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#80808075,direction=120,strength=4);
  -moz-box-shadow: 2px 2px 10px #80808075;
  -webkit-box-shadow: 2px 2px 10px #80808075;
  box-shadow:2px 2px 20px #80808075;
}
#collectionMessage .libraryAddressMessage .libraryAddressMessage_first{
  height: 50px;
  line-height: 50px;
  background: #0096ff;
  color: white;
  font-size: 18px;
  text-align: center;
}
#collectionMessage .libraryAddressMessage .libraryAddressMessage_second{
  background: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 5px;
}
#collectionMessage .libraryAddressMessage .libraryAddressMessage_second .el-input .el-input__inner{
  width: 640px;
}
.el-button{
  border-radius: 10px;
}
.powerControl .ztree li span.button.noline_close{
  background-position: -77px -99px;
}
.powerControl .ztree li span.button.ico_close{
  margin-right: 2px;
  background-position: -22px -90px;
  vertical-align: top;
  *vertical-align: middle;
}
.powerControl .ztree li span.button.ico_open{
  margin-right: 2px;
  background-position: -22px -90px;
  vertical-align: top;
  *vertical-align: middle;
}
.powerControl .ztree li span.button.ico_docu{
  margin-right: 2px;
  background-position: 1px -72px;
  vertical-align: top;
  *vertical-align: middle;
}
.powerControl .ztree li span.button.chk.checkbox_false_full{
  background-position: 0 0;
}
.powerControl .ztree li span.button.chk.checkbox_true_full{
  background-position: -14px 0;
}
.stonerMessage .el-input-number__decrease{
  display: none;
}
.stonerMessage .el-input-number__increase{
  display: none;
}
.storeRoomDia .el-input-number .el-input__inner{
  text-align: left;
  padding-left: 15px;
}
.button_s{
  width: 90px;
}
.printSetupMessage{
  position: absolute;
  top: 150px;
  z-index: 30000;
  width:700px;
  background: white;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#80808075,direction=120,strength=4);
  -moz-box-shadow: 2px 2px 10px #80808075;
  -webkit-box-shadow: 2px 2px 10px #80808075;
  box-shadow:2px 2px 20px #80808075;
}
.printSetupMessage .el-form-item {
  margin-bottom:0px;
}
.printSetupMessage_first{
  background-color: #0096ffa1;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 18px;
}
.printSetupMessage_second{
  background-color: #0096ff14;
  padding: 10px 20px 20px;
}
.printSetupMessageBorder{
  border: 1px solid #0066ccba;
  border-radius: 10px;
  width: 628px;
  margin-top: 10px;
  position: relative;
  padding: 15px;
  background-color: white;
}
.printSetupMessageBorder .el-input .el-input__inner {
  height: 20px;
  line-height: 20px;
  width:90px
}
.printSetupMessageBorder .el-input__icon {
  width: 15px;
}
.printSetupMessageBorder .el-input--suffix .el-input__inner {
  padding-right: 30px;
  background: whitesmoke;
}
.fontBorder{
  border: 1px solid #0066ccba;
  position: absolute;
  top: -10px;
  left: 30px;
  background-color: white;
  padding: 2px 4px;
}
.printSetupButton{
  border:1px solid #dcdcdc;
  background-color: white;
  color: #409effd1;
}
.printModel .el-input .el-input__inner {
  height: 20px;
  line-height: 20px;
}
.printModel .el-input--suffix .el-input__inner {
  padding-right: 30px;
  background: whitesmoke;
}
.numberInput .el-input .el-input__inner {
  height: 25px;
  line-height: 20px;
  width:90px;
}
.numberInput .el-input-number__increase {
  right: 11px;
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #DCDFE6;
}
.numberInput .el-input-number.is-controls-right .el-input-number__decrease {
  right: 11px;
  bottom:8px;
  top: auto;
  left: auto;
  border-right: none;
  border-left: 1px solid #DCDFE6;
  border-radius: 0 0 4px;
}
.numberInput .el-input-number.is-controls-right .el-input-number__decrease, .el-input-number.is-controls-right .el-input-number__increase {
  height: 11px;
  line-height: 11px;
}
.numberInput .el-input-number__decrease, .el-input-number__increase {
  position: absolute;
  z-index: 1;
  top: 8px;
  width: 25px;
  height: auto;
  text-align: center;
  background: #f5f7fa;
  color: #606266;
  cursor: pointer;
  font-size: 13px;
}
.numberInput .el-input-number {
  position: relative;
  display: inline-block;
  width: 100px;
  line-height: 38px;
}
.printSetupButStyle{
  height: 25px;
  width: 100px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background-color: darkgray
}
.noticeForm .el-form-item__label {
  color: #0096ff;
}
